@tailwind base;
@tailwind components;
@tailwind utilities;

@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@200;300;400&display=swap');

/* Chrome, Safari, Edge, Opera */
input::-webkit-outer-spin-button,
input::-webkit-inner-spin-button {
  -webkit-appearance: none;
  margin: 0;
}

/* Firefox */
input[type=number] {
  -moz-appearance: textfield;
}

html,
body {
  padding: 0;
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, Segoe UI, Roboto, Oxygen,
    Ubuntu, Cantarell, Fira Sans, Droid Sans, Helvetica Neue, sans-serif;
}

.align-items-center {
  @apply items-center;
}

a {
  @apply text-inherit no-underline
}

* {
  box-sizing: border-box;
}

.ant-modal-header {
  @apply bg-[#fff] border-b-[1px] border-solid border-[#f0f0f0] marker:rounded-t-[2px] rounded-r-[2px] text-[#000000] opacity-[0.8] py-[16px] px-[24px]
}

.ant-modal-body {
  @apply !p-0 overflow-hidden
}

.ant-modal-content {
  @apply !p-0
}

.modal-position {
  @apply relative
}

.modal-bottom {
  @apply items-center bg-white bottom-0 border-t-[0.5px] border-solid border-[#d3d3d3] flex flex-row justify-end left-0 py-[5px] px-[10px] w-full
}

.content {
  @apply pt-[8px] pr-[20px] pb-[50px] pl-[20px]
}

.card {
  @apply bg-white rounded-[15px] shadow-[0px_4px_8px_0px_rgba(0,0,0,0.2)] 
}

.card-comp {
 @apply p-[70px]
}

.card h1 {
  @apply text-[50px]
}

.custom-card {
  @apply bg-white rounded-[15px] shadow-[0px_4px_8px_0px_rgb(0,0,0,20%)] p-[35px] delay-[0.3ms]
}

.card h2 {
  @apply text-[30px] m-[10px] p-[15px]
}
 
.pending-component button:hover {
  @apply bg-[#16bcb2c1] delay-[0.4ms] transform scale-[1.05]
}

.pending-component button:active {
  @apply bg-[#90ee90]
}

@media (prefers-color-scheme: dark) {
  html {
    color-scheme: dark;
  }
  body {
    background: black;
    color: white;
  }
}
